.toolbar {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #535353;
    color: white;
    font-size: 0.6em;
    font-weight: 100;
    padding: 0 15px;
}

.toolbar img {
    margin: 0 16px;
    border-radius: 100%;
    background: #666;
}

.nav {
    position: relative;
    left: 0;
    margin: 0 10px 0 0;
    list-style: none;
    margin-left: auto;
    padding: 0;
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.nav li{
    list-style: none;
}

.nav li a:hover{
    color: #666;
}

.nav a{
    text-decoration: none;
    color: #fff;
}
