<div class="toolbar" role="banner">
    <span>Royal Tennis Club de Marche</span>
    <ul class="nav">
        <li>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Acceuil</span></a>
        </li>
        <li *ngIf="userConnected && !isResponsable">
            <a routerLink="/profiles" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Profiles</span></a>
        </li>
        <li *ngIf="userConnected && isResponsable">
            <a routerLink="/teachers" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Professeurs</span></a>
        </li>
        <li *ngIf="userConnected && (isResponsable || isTeacher)">
            <a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Elèves</span></a>
        </li>
        <li *ngIf="userConnected && (isResponsable || isTeacher)">
            <a routerLink="/lessons" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Cours</span></a>
        </li>
        <li *ngIf="userConnected">
            <a routerLink="/home" (click)="logout()"><span>Se déconnecter</span></a>
        </li>
     </ul>
</div>