<div class="profiles">
    <div class="profiles-navbar">
        <div>
            <div class="{{indexSelected===i ? 'profile selected' : 'profile'}}" (click)="selectProfile(i)" *ngFor="let teacher of teachers; let i = index; let isFirst = first; let isOdd = odd;">
                {{teacher.name}} {{teacher.surname}}
            </div>
            <div *ngIf="teachers.length==0" id="empty">
                Aucun professeur
            </div>
        </div>
        <button id="add-teacher" (click)="showAddTeacher()"><mat-icon>person_add</mat-icon>Ajouter un professeur</button>
    </div>
    <div class="profiles-detail" *ngIf="teachers.length>0">
        <div class="detail-left">
            <div class="personal-data">
                <div class="personal-data-header">
                    <h2>Données personelle</h2>
                </div>
                <div class="personal-data-body">
                    <div><p>Nom:</p> <p>{{teachers[indexSelected].name}}</p></div>
                    <div><p>Prénom:</p> <p>{{teachers[indexSelected].surname}}</p></div>
                    <div><p>Sexe:</p> <p>{{teachers[indexSelected].sexe}}</p></div>
                    <div><p>Classement:</p> <p>{{teachers[indexSelected].ranking}}</p></div>
                    <div><p>Date de naissance:</p> <p>{{teachers[indexSelected].birthDate.toLocaleDateString()}}</p></div>
                    <div><p>Niveau:</p> <p>{{teachers[indexSelected].level}}</p></div>
                    <div><p>Blessé:</p> <p>{{teachers[indexSelected].blessed?"Oui":"Non"}}</p></div>
                    <div><p>Type de cours:</p> <p>{{teachers[indexSelected].lessonType}}</p></div>
                </div>
            </div>
            <div class="personal-data">
                <div class="personal-data-header">
                    <h2>Groupe de Cours</h2>
                </div>
                <div class="personal-data-body">
                    <div *ngFor="let groupe of teachers[indexSelected].groups;"><p>{{groupe.day}}</p> <p>{{groupe.startHour.slice(0,5)}}-{{groupe.endHour.slice(0,5)}}</p></div>
                    <button id="newGroup" (click)="showAddToGroup()">Ajouter à un groupe</button>
                </div>
            </div>
        </div>
        <div class="detail-right">
        </div>
    </div>
    <app-add-teacher [isVisible]="addTeacherVisible" [showAddTeacher]="showAddTeacher"></app-add-teacher>
    <app-add-to-group [isVisible]="addToGroupVisible" [showAddToGroup]="showAddToGroup" [profilId]="teachers[indexSelected].id"></app-add-to-group>
</div>