<div class="add-profile {{!isVisible?'hide':''}}">
    <div class="add-profile-header">
        Ajouter un profile
    </div>
    <div class="add-profile-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Nom*</label>
                <input type="text" formControlName="name" class="form-control" required>
                <div *ngIf="submitted && name?.invalid" class="invalid-feedback">
                    <div *ngIf="name && name.errors?.['required']">Nom requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Prénom *</label>
                <input type="text" formControlName="surname" class="form-control" required>
                <div *ngIf="submitted && surname?.invalid" class="invalid-feedback">
                    <div *ngIf="surname && surname.errors?.['required']">Prénom requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="sexe">Sexe *</label>
                <select formControlName="sexe" class="form-control" required>
                    <option value="Femme">Femme</option>
                    <option value="Homme">Homme</option>
                    <option value="Autre">Autre</option>
                </select>
                <div *ngIf="submitted && sexe?.invalid" class="invalid-feedback">
                    <div *ngIf="sexe && sexe.errors?.['required']">Sexe requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="birthdate">Date de Naissance *</label>
                <input type="date" formControlName="birthdate" class="form-control" required>
                <div *ngIf="submitted && birthdate?.invalid" class="invalid-feedback">
                    <div *ngIf="birthdate && birthdate.errors?.['required']">Date de naissance requise</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ranking">Classement</label>
                <input type="text" formControlName="ranking" class="form-control">
            </div>
            <div class="form-group">
                <label for="level">Niveau *</label>
                <select formControlName="level" class="form-control" required>
                    <option value="Débutant">Débutant</option>
                    <option value="Intermédiaire">Intermédiaire</option>
                    <option value="Avancé">Avancé</option>
                </select>
                <div *ngIf="submitted && level?.invalid" class="invalid-feedback">
                    <div *ngIf="level && level.errors?.['required']">Niveau requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lessontype">Type de cours *</label>
                <select formControlName="lessontype" class="form-control" required>
                    <option value="Pack Classic">Pack Classic</option>
                    <option value="Pack Compétition">Pack Compétition</option>
                    <option value="Pack Performance">Pack Performance</option>
                    <option value="Pack Elite">Pack Elite</option>
                </select>
                <div *ngIf="submitted && lessontype?.invalid" class="invalid-feedback">
                    <div *ngIf="lessontype && lessontype.errors?.['required']">Type de cours requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="add-profile-footer">
        <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Créer un profile
        </button>
        <button [disabled]="loading" (click)="showAddProfile()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Retour
        </button>
    </div>
</div>
