<div class="card">
    <div class="card-header">
        <h4>Vos prochains cours</h4>
    </div>
    <div class="card-body">
        <div class="{{isOdd ? 'lesson odd': 'lesson'}}" *ngFor="let lesson of lessons; let isFirst = first; let isOdd = odd;">
            <div>Cours du {{lesson.date.toLocaleDateString()}}</div>
            |
            <div>{{lesson.user_name}} {{lesson.user_surname}}</div>
            | 
            <div>{{lesson.total_users}} Elèves </div>
            | 
            <div>{{lesson.start_hour.getHours().toString().padStart(2, '0')}}h{{lesson.start_hour.getMinutes().toString().padStart(2, '0')}}-{{lesson.end_hour.getHours().toString().padStart(2, '0')}}h{{lesson.end_hour.getMinutes().toString().padStart(2, '0')}}</div>
        </div>
    </div>
</div>