<div class="add-profile {{!isVisible?'hide':''}}">
    <div class="add-profile-header">
        Ajouter un cours
    </div>
    <div class="add-profile-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" formControlName="date" class="form-control" required>
                <div *ngIf="date && date?.invalid" class="invalid-feedback">
                    <div *ngIf="date && date.errors?.['required']">Date requise</div>
                </div>
            </div>
            <div class="form-group">
                <label for="group">Groupe *</label>
                <select formControlName="group" class="form-control" required>
                    <option *ngFor="let group of groups; let i = index;" value={{group.id}}>{{group.day}} : {{group.startHour.slice(0,5)}} - {{group.endHour.slice(0,5)}} : {{group.size}} élèves</option>
                </select>
                <div *ngIf="group && group?.invalid" class="invalid-feedback">
                    <div *ngIf="group && group.errors?.['required']">Groupe requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="add-profile-footer">
        <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Créer le cours
        </button>
        <button [disabled]="loading" (click)="showAddLesson()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Retour
        </button>
    </div>
</div>
