<div class="card">
    <div class="card-header">
        <h4><mat-icon> contacts</mat-icon>Derniers profils créés</h4>
    </div>
    <div class="card-body">
        <div class="{{isOdd ? 'profil odd': 'profil'}}" *ngFor="let profil of profiles; let isFirst = first; let isOdd = odd;">
            <div>{{profil.teacher?'Professeur':'Eleves'}}</div>
            |
            <div>{{profil.user_name}} {{profil.user_surname}}</div>
            | 
            <div>{{profil.ranking}}</div>
        </div>
    </div>
</div>