<div class="add-profile {{!isVisible?'hide':''}}">
    <div class="add-profile-header">
        Ajouter un cours
    </div>
    <div class="add-profile-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="group">Groupe *</label>
                <select formControlName="group" class="form-control" required>
                    <option *ngFor="let groupe of groups; let i = index;" value={{groupe.id}}>{{groupe.day}} : {{groupe.startHour.slice(0,5)}} - {{groupe.endHour.slice(0,5)}} : {{groupe.size}} élèves</option>
                </select>
                <div *ngIf="group && group?.invalid" class="invalid-feedback">
                    <div *ngIf="group && group.errors?.['required']">Groupe requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="add-profile-footer">
        <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Créer le cours
        </button>
        <button [disabled]="loading" (click)="showAddToGroup()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Retour
        </button>
    </div>
</div>
