.add-profile{
    position: fixed;
    top: 10%;
    left: 50.5%;
    z-index: 1050;
    width: 25%;
    margin-left: -10%;
    background-color: #F1F1F1;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

.add-profile.hide{
    display: none;
}

.add-profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #EAEAEA;
    height: 50px;
}

.add-profile-body{
    padding: 15px 50px 0px 50px;
    display: flex;
    flex-direction: column;
}

.add-profile-footer{
    border-top: 2px solid black;
    padding-top: 10px;
    display: flex;
    justify-content: right;
    margin: 15px;
    gap: 10px;
}

.add-profile-footer button{
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 5px;
    padding: 5px 15px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group input{
    margin-top: 5px;
    height: 34px;
    top: calc(50% - 34px/2 - 5px);
    padding-left: 10px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}

.form-group select{
    margin-top: 5px;
    height: 34px;
    top: calc(50% - 34px/2 - 5px);
    padding-left: 10px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}

.invalid-feedback{
    margin-top: 2px;
    color: red;
}