.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #535353;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
    border-radius: 100%;
    background: #666;
}

.navbar {
    top: 60px;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #666666;
}

.nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    list-style: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.nav li{
    float: left;
    line-height: 20px;
    list-style: none;
}

.nav li a.active{
    color: #222!important;
    text-shadow: none!important;
    background: #f1f1f1!important;
    box-shadow: none!important;
}

.nav a{
    box-sizing: border-box;
    padding: 0 15px!important;
    height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

#username{
    margin: auto;
    margin-right: 15px;
    text-align: end;
}

#logout{
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 5px;
    width: 140px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}