<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="https://image.ballejaune.com/logos/100/9358_1648287412.jpg"
    />
    <span>Royal Tennis Club de Marche</span>
    <div *ngIf="userConnected" id="username">
        {{username}}
    </div>
    <button *ngIf="userConnected" id="logout" (click)="logout()">
        Se déconnecter
    </button>
</div>
<div class="navbar">
 <ul class="nav">
    <li>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>home</mat-icon><span>Accueil</span></a>
    </li>
    <li *ngIf="userConnected && !isResponsable">
        <a routerLink="/profiles" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>supervisor_account</mat-icon><span>Mes Profils</span></a>
    </li>
    <li *ngIf="userConnected && isResponsable">
        <a routerLink="/teachers" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>accessibility_new</mat-icon><span>Professeurs</span></a>
    </li>
    <li *ngIf="userConnected && (isResponsable || isTeacher)">
        <a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon> directions_run</mat-icon><span>Elèves</span></a>
    </li>
    <li *ngIf="userConnected && (isResponsable || isTeacher)">
        <a routerLink="/lessons" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>meeting_room</mat-icon><span>Cours</span></a>
    </li>
    <li *ngIf="userConnected && (isResponsable || isTeacher)">
        <a routerLink="/request" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>group_work</mat-icon><span>Demande de cours</span></a>
    </li>
 </ul>
</div>