<div class="add-profile {{!isVisible?'hide':''}}">
    <div class="add-profile-header">
        Demande de cours
    </div>
    <div class="add-profile-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="groupSize">Taille du groupe*</label>
                <input type="number" formControlName="groupSize" class="form-control" required>
                <div *ngIf="submitted && groupSize?.invalid" class="invalid-feedback">
                    <div *ngIf="groupSize && groupSize.errors?.['required']">Taille requise</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lessonNumber">Nombre de cours par semaine *</label>
                <input type="number" formControlName="lessonNumber" class="form-control" required>
                <div *ngIf="submitted && lessonNumber?.invalid" class="invalid-feedback">
                    <div *ngIf="lessonNumber && lessonNumber.errors?.['required']">Nombre de cours requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="cycle">Type de cycle*</label>
                <select formControlName="cycle" class="form-control" required>
                    <option value="Période Septembre-Mars">Période Septembre-Mars</option>
                    <option value="Période Septembre-Juin">Période Septembre-Juin</option>
                </select>
                <div *ngIf="submitted && cycle?.invalid" class="invalid-feedback">
                    <div *ngIf="cycle && cycle.errors?.['required']">Cycle requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lessontype">Type de cours *</label>
                <select formControlName="lessontype" class="form-control" required>
                    <option value="Pack Classic">Pack Classic</option>
                    <option value="Pack Compétition">Pack Compétition</option>
                    <option value="Pack Performance">Pack Performance</option>
                    <option value="Pack Elite">Pack Elite</option>
                </select>
                <div *ngIf="submitted && lessontype?.invalid" class="invalid-feedback">
                    <div *ngIf="lessontype && lessontype.errors?.['required']">Type de cours requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="add-profile-footer">
        <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Faire la demande
        </button>
        <button [disabled]="loading" (click)="showRequestLesson()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Retour
        </button>
    </div>
</div>
