<div class="card">
    <h4 class="card-header">Connexion</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Adresse email*</label>
                <input type="text" formControlName="username" class="form-control" required>
                <div *ngIf="submitted && username?.invalid" class="invalid-feedback">
                    <div *ngIf="username && username.errors?.['required']">Email requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe *</label>
                <input type="password" formControlName="password" class="form-control" required>
                <div *ngIf="submitted && password?.invalid" class="invalid-feedback">
                    <div *ngIf="password && password.errors?.['required']">Mot de passe requis</div>
                </div>
                <div *ngIf="submitted" class="invalid-feedback">
                    <div *ngIf="passwordError">Mot de passe incorrect</div>
                </div>
            </div>
            <div class="form-bottom">
                <div class="form-stayconnected">
                    <label for="stayconnected">Rester connecté(e)</label>
                    <input type="checkbox" formControlName="stayconnected" class="form-control">
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Se connecter
                </button>
            </div>
        </form>
    </div>
</div>