<div class="card">
    <div class="card-header">
        <h4><mat-icon>accessibility_new</mat-icon>Professeurs</h4>
        <button id="add-teacher" (click)="showAddTeacher()">Ajouter un professeur</button>
    </div>
    <div class="card-body">
        <div class="{{isOdd ? 'teacher odd': 'teacher'}}" *ngFor="let teacher of teachers; let isFirst = first; let isOdd = odd;">
            <div>Professeur</div>
            |
            <div>{{teacher.user_name}} {{teacher.user_surname}}</div>
            | 
            <div>{{teacher.ranking}}</div>
        </div>
    </div>
    <app-add-teacher [isVisible]="addTeacherVisible" [showAddTeacher]="showAddTeacher"></app-add-teacher>
</div>