.card{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-header{
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    padding: 20px;
}

.card-header h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    gap: 10px;
}

.card-body{
    height: 300px;
}

.teacher{
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.teacher.odd{
    background-color: #F5F5F5;
}

#add-teacher{
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 5px;
    padding: 5px 15px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}