.card{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-header{
    background-color: #EAEAEA;
    padding: 20px;
}

.card-header h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    gap: 10px;
}

.card-body{
    height: 300px;
}

.profil{
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.profil.odd{
    background-color: #F5F5F5;
}