<div class="card">
    <div class="card-header">
        <h4><mat-icon>meeting_room</mat-icon>Demande de cours à la carte</h4>
    </div>
    <div class="card-body">
        <div class="{{isOdd ? 'profil odd': 'profil'}}" *ngFor="let lesson of lessons; let isFirst = first; let isOdd = odd;">
            
        </div>
    </div>
</div>