.card{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-header{
    background-color: #EAEAEA;
    padding: 20px;
}

.card-header h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.card-body{
    height: 300px;
}