<div class="add-profile {{!isVisible?'hide':''}}">
    <div class="add-profile-header">
        Créer un groupe
    </div>
    <div class="add-profile-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="groupSize">Taille du groupe*</label>
                <input type="number" formControlName="groupSize" class="form-control" required>
                <div *ngIf="submitted && groupSize?.invalid" class="invalid-feedback">
                    <div *ngIf="groupSize && groupSize.errors?.['required']">Taille requise</div>
                </div>
            </div>
            <div class="form-group">
                <label for="startTime">Heure de début*</label>
                <input type="time" formControlName="startTime" class="form-control" required>
                <div *ngIf="submitted && startTime?.invalid" class="invalid-feedback">
                    <div *ngIf="startTime && startTime.errors?.['required']">Taille requise</div>
                </div>
            </div>
            <div class="form-group">
                <label for="endTime">Heure de fin*</label>
                <input type="time" formControlName="endTime" class="form-control" required>
                <div *ngIf="submitted && endTime?.invalid" class="invalid-feedback">
                    <div *ngIf="endTime && endTime.errors?.['required']">Taille requise</div>
                </div>
            </div>
            <div class="form-group">
                <label for="cycle">Type de cycle*</label>
                <select formControlName="cycle" class="form-control" required>
                    <option value="Période Septembre-Mars">Période Septembre-Mars</option>
                    <option value="Période Septembre-Juin">Période Septembre-Juin</option>
                </select>
                <div *ngIf="submitted && cycle?.invalid" class="invalid-feedback">
                    <div *ngIf="cycle && cycle.errors?.['required']">Cycle requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="day">Jour *</label>
                <select formControlName="day" class="form-control" required>
                    <option value="Lundi">Lundi</option>
                    <option value="Mardi">Mardi</option>
                    <option value="Mercredi">Mercredi</option>
                    <option value="Jeudi">Jeudi</option>
                    <option value="Vendredi">Vendredi</option>
                    <option value="Samedi">Samedi</option>
                    <option value="Dimanche">Dimanche</option>
                </select>
                <div *ngIf="submitted && day?.invalid" class="invalid-feedback">
                    <div *ngIf="day && day.errors?.['required']">Type de cours requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="add-profile-footer">
        <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Créer un groupe
        </button>
        <button [disabled]="loading" (click)="showAddGroup()" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Retour
        </button>
    </div>
</div>
