<div class="profiles">
    <div class="profiles-navbar">
        <div>
            <div class="{{indexSelected===i ? 'profile selected' : 'profile'}}" (click)="selectProfile(i)" *ngFor="let student of students; let i = index; let isFirst = first; let isOdd = odd;">
                {{student.name}} {{student.surname}}
            </div>
            <div *ngIf="students.length==0" id="empty">
                Aucun élève
            </div>
        </div>
    </div>
    <div class="profiles-detail" *ngIf="students.length>0">
        <div class="detail-left">
            <div class="personal-data">
                <div class="personal-data-header">
                    <h2>Données personelle</h2>
                </div>
                <div class="personal-data-body">
                    <div><p>Nom:</p> <p>{{students[indexSelected].name}}</p></div>
                    <div><p>Prénom:</p> <p>{{students[indexSelected].surname}}</p></div>
                    <div><p>Sexe:</p> <p>{{students[indexSelected].sexe}}</p></div>
                    <div><p>Classement:</p> <p>{{students[indexSelected].ranking}}</p></div>
                    <div><p>Date de naissance:</p> <p>{{students[indexSelected].birthDate.toLocaleDateString()}}</p></div>
                    <div><p>Niveau:</p> <p>{{students[indexSelected].level}}</p></div>
                    <div><p>Blessé:</p> <p>{{students[indexSelected].blessed?"Oui":"Non"}}</p></div>
                    <div><p>Type de cours:</p> <p>{{students[indexSelected].lessonType}}</p></div>
                </div>
                <div class="personal-data-footer">
                    <p>
                        {{students[indexSelected].comment}}
                    </p>
                </div>
            </div>
        </div>
        <div class="detail-right">
            
        </div>
    </div>
</div>