.profiles{
    padding: 20px;
    width: 80%;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/* Profile navbar */

.profiles-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
    width: 15%;
    border-radius: 5px;
}

.profile{
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.profile.selected{
    background-color: #666666;
    color: #FFF;
}

#empty{
    padding: 10px;
    text-align: center;
}

/* Detail */

.profiles-detail{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 80%;
    border-radius: 5px;
    justify-content: space-around;
}

.detail-left{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.detail-right{
    width: 65%;
}

/* Personal data */

.personal-data{
    margin: 15px 5px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-data p{
    text-align: center;
}

.personal-data-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 5px 15px;
}

.personal-data-header h2{
    margin-left: 5px;
}

.personal-data-body{
    padding: 10px;
}

.personal-data-body p:first-child{
    font-weight: bold;
}

.personal-data-body p{
    margin: 5px;
}

.personal-data-body div{
    display: flex;
    justify-content: space-between;
}

.personal-data-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
}

#advice{
    background-color: #1890FF;
    font-size: 0.8em;
    color: #FFF;
    font-weight: 300;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}