.add-teacher{
    position: fixed;
    top: 10%;
    left: 50.5%;
    z-index: 1050;
    width: 25%;
    margin-left: -10%;
    background-color: #F1F1F1;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

.add-teacher.hide{
    display: none;
}

.add-teacher-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #EAEAEA;
    height: 50px;
}

.add-teacher-body{
    padding: 15px 50px 0px 50px;
}

.add-teacher-footer{
    border-top: 2px solid black;
    padding-top: 10px;
    display: flex;
    justify-content: right;
    margin: 15px;
}

.add-teacher-footer button{
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 5px;
    padding: 5px 15px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profil p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.profil button{
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 5px;
    padding: 5px 15px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}