<div class="add-teacher {{!isVisible?'hide':''}}">
    <div class="add-teacher-header">
        Ajouter un professeur
    </div>
    <div class="add-teacher-body">
        <div class="profil" *ngFor="let profil of profiles; let isFirst = first; let isOdd = odd;">
            <p>	<mat-icon>school</mat-icon> {{profil.user_name}} {{profil.user_surname}}</p>
            <button (click)="updateProfiles(profil.id)">Ajouter comme professeur</button>
        </div>
    </div>
    <div class="add-teacher-footer">
        <button (click)="showAddTeacher()">Retour</button>
    </div>
</div>
