<div class="profiles">
    <div class="profiles-navbar">
        <div>
            <div class="{{indexSelected===i ? 'profile selected' : 'profile'}}" (click)="selectProfile(i)" *ngFor="let profile of profiles; let i = index; let isFirst = first; let isOdd = odd;">
                {{profile.name}} {{profile.surname}}
            </div>
        </div>
        <div *ngIf="profiles.length==0" id="empty">
            Vous n'avez aucun profil joueur
        </div>
        <button id="add-profile" (click)="showAddProfile()"><mat-icon>person_add</mat-icon>Ajouter un joueur</button>
    </div>
    <div class="profiles-detail" *ngIf="profiles.length>0 && !disponibilityVisible">
        <div class="detail-left">
            <div class="personal-data">
                <div class="personal-data-header">
                    <h2>Données personelle</h2>
                </div>
                <div class="personal-data-body">
                    <div><p>Nom:</p> <p>{{profiles[indexSelected].name}}</p></div>
                    <div><p>Prénom:</p> <p>{{profiles[indexSelected].surname}}</p></div>
                    <div><p>Sexe:</p> <p>{{profiles[indexSelected].sexe}}</p></div>
                    <div><p>Classement:</p> <p>{{profiles[indexSelected].ranking}}</p></div>
                    <div><p>Date de naissance:</p> <p>{{profiles[indexSelected].birthDate.toLocaleDateString()}}</p></div>
                    <div><p>Niveau:</p> <p>{{profiles[indexSelected].level}}</p></div>
                    <div><p>Blessé:</p> <p>{{profiles[indexSelected].blessed?'Oui':'Non'}}</p></div>
                    <div><p>Type de cours:</p> <p>{{profiles[indexSelected].lessonType}}</p></div>
                </div>
                <div class="personal-data-footer">
                    <textarea id="advice-area" (change)="editComment($event);" class="{{!commentVisible?'advice-hide':''}}">{{profiles[indexSelected].comment}}</textarea>
                    <button id="advice" (click)="commentVisible?updateComment():showComment()">
                        {{commentVisible?'Confirmer':'Commentaire'}}
                    </button>
                    <button id="data-change" (click)="showModifyData()">Modifier mes données</button>
                    <button id="disponibilities-change" (click)="showAddDisponibility()">Disponibilités</button>
                </div>
            </div>
        </div>
        <div class="detail-right">
            <div class="schedule">
                <div class="schedule-header">
                    <h2>Horaire</h2>
                    <button id="lesson-request" (click)="showRequestLesson()">Demande de cours / Demande de cours à la carte</button>
                </div>
                <div class="schedule-body">
                    <mwl-calendar-month-view
                        [viewDate]="viewDate"
                        [locale]="locale"
                        (dayClicked)="dayClicked($event.day)"
                        [events]="events"
                        [activeDayIsOpen]="false"
                    >
                  </mwl-calendar-month-view>
                </div>
                <div class="schedule-footer">
                    <h3>Détails</h3>
                    <div>
                        {{viewDate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profiles-detail" *ngIf="profiles.length>0 && disponibilityVisible">
        <div class="disponibilities">
            <div class="disponibilities-header">
                <button id="disponibilities-change" (click)="showAddDisponibility()"><mat-icon>reply_all</mat-icon></button>
                <h2>Disponibilités</h2>
                <button id="disponibilities-change" (click)="!modifyDisponibilities?showModifyDisponibility():sumbitDisponibility()">{{modifyDisponibilities?'Confirmer les modifications':'Modifier les disponibilités'}}</button>
            </div>
            <div class="disponibilities-body">
                <div class="period" *ngIf="!modifyDisponibilities">
                    <h2>Période Septembre-Mars</h2>
                    <div><p>Lundi:</p> <p>{{getDisponibility("Lundi", true, true)}}</p> <p>{{getDisponibility("Lundi", false, true)}}</p></div>
                    <div><p>Mardi:</p> <p>{{getDisponibility("Mardi", true, true)}}</p> <p>{{getDisponibility("Mardi", false, true)}}</p></div>
                    <div><p>Mercredi:</p> <p>{{getDisponibility("Mercredi", true, true)}}</p> <p>{{getDisponibility("Mercredi", false, true)}}</p></div>
                    <div><p>Jeudi:</p> <p>{{getDisponibility("Jeudi", true, true)}}</p> <p>{{getDisponibility("Jeudi", false, true)}}</p></div>
                    <div><p>Vendredi:</p> <p>{{getDisponibility("Vendredi", true, true)}}</p> <p>{{getDisponibility("Vendredi", false, true)}}</p></div>
                    <div><p>Samedi:</p> <p>{{getDisponibility("Samedi", true, true)}}</p> <p>{{getDisponibility("Samedi", false, true)}}</p></div>
                    <div><p>Dimanche:</p> <p>{{getDisponibility("Dimanche", true, true)}}</p> <p>{{getDisponibility("Dimanche", false, true)}}</p></div>
                </div>
                <div class="period" *ngIf="!modifyDisponibilities">
                    <h2>Période Septembre-Juin</h2>
                    <div><p>Lundi:</p> <p>{{getDisponibility("Lundi", true, false)}}</p> <p>{{getDisponibility("Lundi", false, false)}}</p></div>
                    <div><p>Mardi:</p> <p>{{getDisponibility("Mardi", true, false)}}</p> <p>{{getDisponibility("Mardi", false, false)}}</p></div>
                    <div><p>Mercredi:</p> <p>{{getDisponibility("Mercredi", true, false)}}</p> <p>{{getDisponibility("Mercredi", false, false)}}</p></div>
                    <div><p>Jeudi:</p> <p>{{getDisponibility("Jeudi", true, false)}}</p> <p>{{getDisponibility("Jeudi", false, false)}}</p></div>
                    <div><p>Vendredi:</p> <p>{{getDisponibility("Vendredi", true, false)}}</p> <p>{{getDisponibility("Vendredi", false, false)}}</p></div>
                    <div><p>Samedi:</p> <p>{{getDisponibility("Samedi", true, false)}}</p> <p>{{getDisponibility("Samedi", false, false)}}</p></div>
                    <div><p>Dimanche:</p> <p>{{getDisponibility("Dimanche", true, false)}}</p> <p>{{getDisponibility("Dimanche", false, false)}}</p></div>
                </div>
                <div class="period" *ngIf="modifyDisponibilities">
                    <h2>Période Septembre-Mars</h2>
                    <div><p>Lundi:</p> <p><input type="time" (change)="editDisponibility($event, 'Lundi', true, true, true);" [value]="getModifyDisponibility('Lundi', true, true, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Lundi', false, true, true);" [value]="getModifyDisponibility('Lundi', false, true, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Lundi', true, false, true);" [value]="getModifyDisponibility('Lundi', true, false, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Lundi', false, false, true);" [value]="getModifyDisponibility('Lundi', false, false, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Mardi:</p> <p><input type="time" (change)="editDisponibility($event, 'Mardi', true, true, true);" [value]="getModifyDisponibility('Mardi', true, true, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mardi', false, true, true);" [value]="getModifyDisponibility('Mardi', false, true, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Mardi', true, false, true);" [value]="getModifyDisponibility('Mardi', true, false, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mardi', false, false, true);" [value]="getModifyDisponibility('Mardi', false, false, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Mercredi:</p> <p><input type="time" (change)="editDisponibility($event, 'Mercredi', true, true, true);" [value]="getModifyDisponibility('Mercredi', true, true, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mercredi', false, true, true);" [value]="getModifyDisponibility('Mercredi', false, true, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Mercredi', true, false, true);" [value]="getModifyDisponibility('Mercredi', true, false, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mercredi', false, false, true);" [value]="getModifyDisponibility('Mercredi', false, false, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Jeudi:</p> <p><input type="time" (change)="editDisponibility($event, 'Jeudi', true, true, true);" [value]="getModifyDisponibility('Jeudi', true, true, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Jeudi', false, true, true);" [value]="getModifyDisponibility('Jeudi', false, true, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Jeudi', true, false, true);" [value]="getModifyDisponibility('Jeudi', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Jeudi', false, false, true);" [value]="getModifyDisponibility('Jeudi', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Vendredi:</p> <p><input type="time" (change)="editDisponibility($event, 'Vendredi', true, true, true);" [value]="getModifyDisponibility('Vendredi', true, true, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Vendredi', false, true, true);" [value]="getModifyDisponibility('Vendredi', false, true, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Vendredi', true, false, true);" [value]="getModifyDisponibility('Vendredi', true, false, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Vendredi', false, false, true);" [value]="getModifyDisponibility('Vendredi', false, false, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Samedi:</p> <p><input type="time" (change)="editDisponibility($event, 'Samedi', true, true, true);" [value]="getModifyDisponibility('Samedi', true, true, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Samedi', false, true, true);" [value]="getModifyDisponibility('Samedi', false, true, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Samedi', true, false, true);" [value]="getModifyDisponibility('Samedi', true, false, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Samedi', false, false, true);" [value]="getModifyDisponibility('Samedi', false, false, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Dimanche:</p> <p><input type="time" (change)="editDisponibility($event, 'Dimanche', true, true, true);" [value]="getModifyDisponibility('Dimanche', true, true, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Dimanche', false, true, true);" [value]="getModifyDisponibility('Dimanche', false, true, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Dimanche', true, false, true);" [value]="getModifyDisponibility('Dimanche', true, false, true)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Dimanche', false, false, true);" [value]="getModifyDisponibility('Dimanche', false, false, true)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                </div>
                <div class="period" *ngIf="modifyDisponibilities">
                    <h2>Période Septembre-Juin</h2>
                    <div><p>Lundi:</p> <p><input type="time" (change)="editDisponibility($event, 'Lundi', true, true, false);" [value]="getModifyDisponibility('Lundi', true, true, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Lundi', false, true, false);" [value]="getModifyDisponibility('Lundi', false, true, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Lundi', true, false, false);" [value]="getModifyDisponibility('Lundi', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Lundi', false, false, false);" [value]="getModifyDisponibility('Lundi', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Mardi:</p> <p><input type="time" (change)="editDisponibility($event, 'Mardi', true, true, false);" [value]="getModifyDisponibility('Mardi', true, true, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mardi', false, true, false);" [value]="getModifyDisponibility('Mardi', false, true, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Mardi', true, false, false);" [value]="getModifyDisponibility('Mardi', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mardi', false, false, false);" [value]="getModifyDisponibility('Mardi', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Mercredi:</p> <p><input type="time" (change)="editDisponibility($event, 'Mercredi', true, true, false);" [value]="getModifyDisponibility('Mercredi', true, true, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mercredi', false, true, false);" [value]="getModifyDisponibility('Mercredi', false, true, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Mercredi', true, false, false);" [value]="getModifyDisponibility('Mercredi', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Mercredi', false, false, false);" [value]="getModifyDisponibility('Mercredi', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Jeudi:</p> <p><input type="time" (change)="editDisponibility($event, 'Jeudi', true, true, false);" [value]="getModifyDisponibility('Jeudi', true, true, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Jeudi', false, true, false);" [value]="getModifyDisponibility('Jeudi', false, true, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Jeudi', true, false, false);" [value]="getModifyDisponibility('Jeudi', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Jeudi', false, false, false);" [value]="getModifyDisponibility('Jeudi', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Vendredi:</p> <p><input type="time" (change)="editDisponibility($event, 'Vendredi', true, true, false);" [value]="getModifyDisponibility('Vendredi', true, true, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Vendredi', false, true, false);" [value]="getModifyDisponibility('Vendredi', false, true, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Vendredi', true, false, false);" [value]="getModifyDisponibility('Vendredi', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Vendredi', false, false, false);" [value]="getModifyDisponibility('Vendredi', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Samedi:</p> <p><input type="time" (change)="editDisponibility($event, 'Samedi', true, true, false);" [value]="getModifyDisponibility('Samedi', true, true, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Samedi', false, true, false);" [value]="getModifyDisponibility('Samedi', false, true, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Samedi', true, false, false);" [value]="getModifyDisponibility('Samedi', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Samedi', false, false, false);" [value]="getModifyDisponibility('Samedi', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                    <div><p>Dimanche:</p> <p><input type="time" (change)="editDisponibility($event, 'Dimanche', true, true, false);" [value]="getModifyDisponibility('Dimanche', true, true, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Dimanche', false, true, false);" [value]="getModifyDisponibility('Dimanche', false, true, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> <p><input type="time" (change)="editDisponibility($event, 'Dimanche', true, false, false);" [value]="getModifyDisponibility('Dimanche', true, false, false)" id="appt" name="appt" min="08:00" max="23:00" required>-<input type="time" (change)="editDisponibility($event, 'Dimanche', false, false, false);" [value]="getModifyDisponibility('Dimanche', false, false, false)" id="appt" name="appt" min="08:00" max="23:00" required></p> </div>
                </div>
            </div>
        </div>
    </div>
    <app-add-profile [isVisible]="addProfileVisible" [showAddProfile]="showAddProfile"></app-add-profile>
    <app-modify-data *ngIf="profiles.length>0" [isVisible]="modifyDataVisible" [showModifyData]="showModifyData" [index]="indexSelected" [profiles]="profiles"></app-modify-data>
    <app-request-lesson *ngIf="profiles.length>0" [isVisible]="requestLessonVisible" [showRequestLesson]="showRequestLesson" [index]="indexSelected" [profiles]="profiles"></app-request-lesson>
</div>