.profiles{
    padding: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/* Profile navbar */

.profiles-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
    width: 15%;
    border-radius: 5px;
}

.profile{
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.profile.selected{
    background-color: #666666;
    color: #FFF;
}

#add-profile{
    background-color: #1890FF;
    font-size: 0.9em;
    color: #FFF;
    font-weight: 400;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#empty{
    padding: 10px;
    text-align: center;
}

/* Detail */

.profiles-detail{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 80%;
    border-radius: 5px;
    justify-content: space-around;
}

.detail-left{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.detail-right{
    width: 65%;
}

/* Schedule */

.schedule{
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    margin: 15px 5px;
}

.schedule-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: 5px 15px;
}

.schedule-header h2{
    margin-left: 5px;
}

.schedule-body{
    margin: 10px;
}

.schedule-footer{
    margin: 10px;
    background-color: #fff;
}

.schedule-footer div{
    text-align: center;
    margin-bottom: 10px;
}

.schedule-footer h3{
    text-align: center;
}

#lesson-request{
    background-color: #1890FF;
    font-size: 0.9em;
    color: #FFF;
    font-weight: 400;
    height: 45px;
    border-radius: 5px;
    padding: 0 15px;
    border: none;
}

/* Personal data */

.personal-data{
    margin: 15px 5px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-data-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 5px 15px;
}

.personal-data-header h2{
    margin-left: 5px;
}

.personal-data-body{
    padding: 10px;
}

.personal-data-body p:first-child{
    font-weight: bold;
}

.personal-data-body p{
    margin: 5px;
}

.personal-data-body div{
    display: flex;
    justify-content: space-between;
}

.personal-data-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
}

#advice{
    background-color: #1890FF;
    font-size: 1em;
    color: #FFF;
    font-weight: 500;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

#data-change{
    background-color: #1890FF;
    font-size: 1em;
    color: #FFF;
    font-weight: 500;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

/* Disponibilites */

.disponibilities{
    margin: 15px 5px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
}

.disponibilities-header{
    display: flex;
    flex-direction: row;
    background-color: #EAEAEA;
    padding: 5px 15px;
    align-items: center;
    justify-content: space-between;
}

.period{
    margin: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.disponibilities-header h2{
    margin-left: 5px;
}

.disponibilities-body{
    padding: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.disponibilities-body p{
    margin: 5px;
    font-weight: 500;
    font-size: 1em;
}

.disponibilities-body div{
    display: flex;
    justify-content: space-between;
}

.disponibilities-footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#disponibilities-change{
    background-color: #1890FF;
    font-size: 1em;
    color: #FFF;
    font-weight: 500;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

#advice-area{
    display: block;
    resize: vertical;
    max-height: 100px;
}

#advice-area.advice-hide{
    display: none;
}