.lessons{
    padding: 20px;
    width: 80%;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.lessons-body{
    display: flex;
}

.lesson{
    text-align: center;
    margin: 15px;
    background-color: #F1F1F1;
    width: 20%;
}

.lesson h3{
    margin: 0;
    padding: 10px;
    color: #fff;
    background-color: #666666;
}

#calendar{
    width: 100%;
}

.details{
    margin: 15px 0;
    background-color: #fff;
    height: 100%;
}

.details-header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    color: #fff;
}

.details-header button{
    background-color: #1890FF;
    border: 1px solid #1890FF;
    border-radius: 5px;
    padding: 5px 15px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}