<div class="lessons">
    <mwl-calendar-month-view
        [id]="'calendar'"
        [viewDate]="viewDate"
        [locale]="locale"
        (dayClicked)="dayClicked($event.day)"
        [events]="events"
        [activeDayIsOpen]="false"
    >
    </mwl-calendar-month-view>
    <div class="details">
        <div class="details-header">
            <h2>Cours du jour</h2>
            <h5>Jour sélectioné : {{viewDate.toLocaleDateString()}}</h5>
            <button (click)="showAddLesson()">Ajouter un cours</button>
        </div>
        <div class="lessons-body">
            <div class="lesson" *ngFor="let lesson of getActualLesson();">
                <h3>Cours de {{lesson.group.startHour}} à {{lesson.group.endHour}}</h3>
                <div *ngIf="lesson.teachers.length>0">
                    <h4>Professeurs</h4>
                    <p *ngFor="let profil of lesson.teachers;">{{profil.name}} {{profil.surname}}</p>
                </div>
                <div *ngIf="lesson.students.length>0">
                    <h4>Joueurs</h4>
                    <p *ngFor="let profil of lesson.students;">{{profil.name}} {{profil.surname}} - {{profil.ranking}} - {{profil.level}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-add-lesson [isVisible]="addLessonVisible" [showAddLesson]="showAddLesson"></app-add-lesson>