<div class="body">
    <div class="club-header">
        <img src="https://image.ballejaune.com/headband/9358_1648788810.jpg" alt="">
    </div>
    <div class="club-body">
        <div *ngIf="!userConnected">
            <div class="half">
                <app-login class="component"></app-login>
            </div>
            <div class="half">
                <app-register class="component"></app-register>
            </div>
        </div>
        <div *ngIf="userConnected && !isResponsable">
            <div class="half">
                <app-hello class="component"></app-hello>
            </div>
            <div class="half">
                <app-nextlessons class="component"></app-nextlessons>
                <img src="assets/images/TennisImg1.png" class="component">
            </div>
        </div>
        <div *ngIf="userConnected && isResponsable">
            <div class="half">
                <app-last-teachers class="component"></app-last-teachers>
                <app-last-lessons class="component"></app-last-lessons>
            </div>
            <div class="half">
                <app-last-profiles class="component"></app-last-profiles>
                <img src="assets/images/TennisImg1.png" class="component">
            </div>
        </div>
    </div>
</div>