.body{
    padding: 20px;
}

.club-header{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.club-header img{
    width: 100%;
}

.club-body{
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.club-body div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.half{
    width: 48%;
    display: flex;
    justify-content: center;
    flex-direction: column !important;
}

.component{
    margin-bottom: 40px;
    width: 100%;
}