.card{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group input{
    margin-top: 5px;
    height: 34px;
    top: calc(50% - 34px/2 - 5px);
    padding-left: 10px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}

.card-header{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.form-bottom{
    display: flex;
    justify-content: center;
}

.form-bottom .btn{
    background: #EACC72;
    border: 1px solid #EACC72;
    border-radius: 6px;
    width: 160px;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
}

.invalid-feedback{
    margin-top: 2px;
    color: red;
}