<div class="card">
    <h4 class="card-header">Inscription en ligne</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Nom*</label>
                <input type="text" formControlName="name" class="form-control" required>
                <div *ngIf="submitted && name?.invalid" class="invalid-feedback">
                    <div *ngIf="name && name.errors?.['required']">Nom requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Prénom *</label>
                <input type="text" formControlName="surname" class="form-control" required>
                <div *ngIf="submitted && surname?.invalid" class="invalid-feedback">
                    <div *ngIf="surname && surname.errors?.['required']">Prénom requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Adresse email *</label>
                <input type="email" formControlName="email" class="form-control" required>
                <div *ngIf="submitted && email?.invalid" class="invalid-feedback">
                    <div *ngIf="email && email.errors?.['required']">Adresse email requise</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Numéro de téléphone *</label>
                <input type="text" formControlName="phone" class="form-control" required>
                <div *ngIf="submitted && phone?.invalid" class="invalid-feedback">
                    <div *ngIf="phone && phone.errors?.['required']">Numéro de téléphone requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe *</label>
                <input type="password" formControlName="password" class="form-control" required>
                <div *ngIf="submitted && password?.invalid" class="invalid-feedback">
                    <div *ngIf="password && password.errors?.['required']">Mot de passe requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmation du mot de passe *</label>
                <input type="password" formControlName="confirm_password" class="form-control" required>
                <div *ngIf="submitted && confirm_password?.invalid" class="invalid-feedback">
                    <div *ngIf="confirm_password && confirm_password.errors?.['required']">Mot de passe de confirmation requis</div>
                </div>
            </div>
            <div class="form-bottom">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Créer mon compte
                </button>
            </div>
        </form>
    </div>
</div>