
<div class="profiles">
    <div class="profiles-navbar">
        <div *ngIf="getCycleMars().length>0">
            <h3>Septembre-Mars</h3>
            <div class="{{idSelected===request.id ? 'profile selected' : 'profile'}}" (click)="selectRequest(request.id)" *ngFor="let request of getCycleMars(); let i = index; let isFirst = first; let isOdd = odd;">
                {{request.nom}} {{request.prenom}}
            </div>
            <div *ngIf="getCycleMars().length==0" id="empty">
                Aucun élève
            </div>
        </div>
        <div *ngIf="getCycleJuin().length>0">
            <h3>Septembre-Juin</h3>
            <div class="{{idSelected===request.id ? 'profile selected' : 'profile'}}" (click)="selectRequest(request.id)" *ngFor="let request of getCycleJuin(); let i = index; let isFirst = first; let isOdd = odd;">
                {{request.nom}} {{request.prenom}}
            </div>
            <div *ngIf="requests.length==0" id="empty">
                Aucun élève
            </div>
        </div>
    </div>
    <div class="profiles-detail" *ngIf="requests.length>0">
        <div class="detail-left">
            <div class="personal-data">
                <div class="personal-data-header">
                    <h2>Demande</h2>
                </div>
                <div class="personal-data-body">
                    <div><p>Type:</p> <p>{{requests[indexSelected].type}}</p></div>
                    <div><p>Taille du groupe:</p> <p>{{requests[indexSelected].groupSize}}</p></div>
                    <div><p>Cycle:</p> <p>{{requests[indexSelected].cycle}}</p></div>
                    <div><p>Nombre de cours:</p> <p>{{requests[indexSelected].lessonNumber}}</p></div>
                </div>
            </div>
            <div class="personal-data">
                <div class="personal-data-header">
                    <h2>Disponibilités</h2>
                </div>
                <div class="personal-data-body">
                    <div *ngFor="let disponibility of requests[indexSelected].disponibilities; let i = index; let isFirst = first; let isOdd = odd;"><p>{{disponibility.day}}</p> <p>{{disponibility.start_hour.getHours().toString().padStart(2, '0')}}:{{disponibility.start_hour.getMinutes().toString().padStart(2, '0')}} - {{disponibility.end_hour.getHours().toString().padStart(2, '0')}}:{{disponibility.end_hour.getMinutes().toString().padStart(2, '0')}}</p></div>
                </div>
            </div>
            <button id="validate" *ngIf="!requests[indexSelected].valide" (click)="validateRequest()">Valider la demande</button>
        </div>
    </div>
    <div class="profiles-detail" *ngIf="requests.length>0">
        <div class="detail-left">
            <div class="personal-data">
                <div *ngIf="getCycleGroup().length>0">
                    <h3>Groupe de cours</h3>
                    <div class="{{groupIndexSelected===i ? 'group selected' : 'group'}}" (click)="selectGroup(i)" *ngFor="let group of getCycleGroup(); let i = index; let isFirst = first; let isOdd = odd;">
                        {{group.day}} : {{group.startHour.slice(0,5)}} - {{group.endHour.slice(0,5)}}
                    </div>
                    <div *ngIf="groups.length==0" id="empty">
                        Aucun groupe
                    </div>
                    <button id="newGroup" (click)="showAddGroup()">Créer un groupe</button>
                </div>
            </div>
            <div *ngIf="groups.length>0" class="personal-data">
                <div class="personal-data-header">
                    <h3>Détails du groupe</h3>
                </div>
                <div class="personal-data-body">
                    <div><p>Jour:</p> <p>{{groups[groupIndexSelected].day}}</p></div>
                    <div><p>Taille du groupe:</p> <p>{{groups[groupIndexSelected].size}}</p></div>
                    <div><p>Période:</p> <p>{{groups[groupIndexSelected].period}}</p></div>
                    <div><p>Heure de début:</p> <p>{{groups[groupIndexSelected].startHour.slice(0,5)}}</p></div>
                    <div><p>Heure de fin:</p> <p>{{groups[groupIndexSelected].endHour.slice(0,5)}}</p></div>
                </div>
                <button id="validate" *ngIf="canAdd()" (click)="addToGroup()">Ajouter au groupe</button>
            </div>
        </div>
    </div>
    <div class="schedule">
        <div class="schedule-header">
            <h2>Horaire</h2>
        </div>
        <div class="schedule-body">
            <mwl-calendar-month-view
                [viewDate]="viewDate"
                [locale]="locale"
                (dayClicked)="dayClicked($event.day)"
                [events]="events"
                [activeDayIsOpen]="false"
            >
            </mwl-calendar-month-view>
        </div>
        <div class="schedule-footer">
            <h3>Détails</h3>
            <div>
                <div class="lesson" *ngFor="let lesson of getActualLesson();">- Cours de {{lesson.start.toLocaleTimeString().slice(0,5)}} à {{lesson.end.toLocaleTimeString().slice(0,5)}} -</div>
            </div>
        </div>
    </div>
</div>
<app-add-group [isVisible]="addGroupVisible" [showAddGroup]="showAddGroup"></app-add-group>