.profiles{
    padding: 20px;
    width: 80%;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/* Profile navbar */

.profiles-navbar{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 15%;
    border-radius: 5px;
}

.profiles h3{
    text-align: center;
}

.profile{
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.group{
    padding: 20px;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.group.selected{
    background-color: #666666;
    color: #FFF;
}

.profile.selected{
    background-color: #666666;
    color: #FFF;
}

#empty{
    padding: 10px;
    text-align: center;
}

/* Detail */

.profiles-detail{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px 15px;
    justify-content: space-around;
}

.detail-left{
    display: flex;
    flex-direction: column;
}

/* Personal data */

.personal-data{
    margin: 15px 5px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-data p{
    text-align: center;
}

.personal-data-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 5px 15px;
}

.personal-data-header h2{
    margin-left: 5px;
}

.personal-data-body{
    padding: 10px;
}

.personal-data-body p:first-child{
    font-weight: bold;
}

.personal-data-body p{
    margin: 5px;
}

.personal-data-body div{
    display: flex;
    justify-content: space-between;
}

.personal-data-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
}

#validate{
    background-color: #1890FF;
    font-size: 0.8em;
    color: #FFF;
    font-weight: 300;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

#newGroup{
    margin-top: 10px;
    background-color: #1890FF;
    font-size: 0.8em;
    color: #FFF;
    font-weight: 300;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    width: 100%;
    cursor: pointer;
}

/* Schedule */

.schedule{
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    display: flex;
    background-color: #FFF;
    width: 35%;
    border-radius: 5px;
    padding: 10px 15px;
}

.schedule-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: 5px 15px;
}

.schedule-header h2{
    margin-left: 5px;
}

.schedule-body{
    margin: 5px;
}

.schedule-footer{
    margin: 10px;
    background-color: #fff;
}

.schedule-footer div{
    text-align: center;
    margin-bottom: 10px;
}

.schedule-footer h3{
    text-align: center;
}

.lesson{
    background-color: aliceblue;
}